* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100vw;
    padding: 3rem;
    display: flex;
    flex-wrap: wrap;
}

article {
    width: calc((100% / 10) - 1rem);
    background-color: rgb(187, 255, 61);
    border-radius: 12px;
    margin: .5rem;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 3rem;
    color: magenta;
}

.fizz{
    background-image: url("https://img.freepik.com/free-vector/fizz-pop-art-comic-speech-bubbles-book-sound-effects_1142-12611.jpg");
    background-size: cover;
}

.buzz{
    background-image: url("https://www.red17.co.uk/media/wysiwyg/Blog_Pics/Topics/Product_Launch_and_Pop-up_Shops/The_word_BUZZ.jpg");
    background-size: cover;
}

.fizzbuzz{
    background-image: url("https://fordsfizzbuzz.netlify.app/img/fizzbuzz-logo.jpeg");
    background-size: cover;
}